@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) ============================================ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  /* background-color: #1C3879; */
  background-color: #F9F5EB;

}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/* for wrapper */
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
} 

/*=================================
  main styling starts here
=================================*/

.form-validation { padding: 60px; }

.form-validation .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  padding: 40px 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: #f9f5ebce;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #607EAA;
}

.form-data {
  display: flex;
  gap: 10px;
}

.label {
  cursor: default;
  width: 130px;
  text-align: left;
}

input[type="radio"] {
  margin: 0;
  padding: 0;
}

.form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.btn {
  padding: 5px 20px;
  border: 1px solid #607EAA;
  border-radius: 4px;
  font-size: 16px;
  color: #607EAA;
  background-color: transparent;
  transition: .5s;
  text-transform: capitalize  ;
}

.btn:hover {
  background-color: #607EAA;
  color: #F9F5EB;
}

.input {
  outline: none;
  border: none;
  border-bottom: 1px solid #607EAA;
  background-color: transparent;
  color: #607EAA;
}

.input:focus {
  border-bottom: 1px solid #001648;
  color: #001648;
}

.datas {
  padding: 30px 0;
  width: 100%;
}

.datas > * { width: 100%; }

.lists {
  display: flex;
  text-align: center;
  border-radius: 5px;
  align-items: center;
}

.lists > * { padding: 10px 12px; } 

.heading-row {
  font-size: 16px;
  font-weight: 600;
  background-color: #607EAA;
  color: #F9F5EB;
}

.data-row {
  color: #607EAA;
  box-shadow: 0px 1px 2px rgba(100, 100, 111, 0.2) ;
}

.lists li{
  flex: 0 0 16.67%;
  word-break: break-all; 
}

.data-row .btn { padding: 3px 18px; }

.data-row .delete:hover {
  background-color: #DD5353;
  border: 1px solid #DD5353;
}

.data-row .edit:hover {
  background-color: #5F9DF7;
  border: 1px solid #5F9DF7;
}

/*=================================
  main styling ends here
=================================*/
 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}  